In [8]:
import folium
mapit = folium.Map( )


folium.CircleMarker(location=[25.197587, 55.2741737],
                        fill_color="#065535",
                        radius=100,
                        popup = "Emaar Boulevera 1",
                        weight=3).add_to(mapit)

folium.CircleMarker(location=[25.19771, 55.27441],
                        fill_color="#f40059",
                        radius=100,
                        popup = "Armani Mediterraneo2",
                        weight=3).add_to(mapit)

mapit.fit_bounds(mapit.get_bounds())
mapit

In [249]:
import pandas as pd
import numpy as np;
data=pd.read_csv('/home/osman/Data/data.tsv', delimiter='\t' ,index_col = False)
data.columns = ['time','v_id','type','route','latitude','longitude']
route=pd.read_csv('/home/osman/Data/route_to_stops_count.tsv', delimiter='\t')
route.columns = ['type','route','n_stops']
debug=pd.read_csv('/home/osman/Data/debug.tsv', delimiter='\t')
debug.columns = ['type','route','latitude','longitude']
route

        type  route  n_stops
0        bus     55       60
1        bus    198       49
2        bus     98       36
3        bus    107       41
4        bus     37       69
5        bus    220       36
6        bus    174       51
7        bus    179       43
8        bus    116       29
9        bus    115       43
10       bus    172       32
11       bus    171       46
12       bus    135       21
13       bus     34       42
14       bus    191       16
15       bus    149       40
16       bus    178       18
17       bus    222       57
18       bus    221       24
19       bus    200       57
20       bus    203       28
21       bus    143       19
22       bus    165       45
23       bus    150       62
24       bus    153       33
25       bus    105       45
26       bus     92       22
27       bus     12       82
28   tramway     11       36
29   tramway      3       56
..       ...    ...      ...
250  tramway     33       51
251  tramway     70       14
252      bus     83       66
253  tramway     75       40
254  tramway     19       55
255  tramway     51       15
256      bus     18       24
257      bus     80       56
258      bus     39       39
259      bus      4       67
260      bus     24       11
261      bus    166       17
262      bus     25       52
263      bus     71       21
264      bus    133       14
265      bus     76       46
266      bus     43       54
267      bus    118       19
268      bus    132       19
269      bus     31       35
270      bus     67       45
271      bus     28       26
272      bus      3       48
273      bus     11       31
274      bus    138       85
275      bus    134       24
276      bus     94       27
277      bus     93        7
278      bus    145       17
279      bus      7       67

[280 rows x 3 columns]

array([[50.527863, 50.955353],
       [50.504898, 50.936607],
       [50.527637, 50.955616],
       ...,
       [50.50579 , 50.969734],
       [50.505733, 50.968227],
       [50.504993, 50.967827]], dtype=float32)

In [66]:
d86.drop_duplicates(keep=False, inplace=False)

   type  route   latitude  longitude
0   bus     86  50.504160  50.955193
1   bus     86  50.504610  50.943245
2   bus     86  50.505506  50.936145
3   bus     86  50.509442  50.936353
4   bus     86  50.515003  50.936669
5   bus     86  50.520787  50.938007
6   bus     86  50.524135  50.941164
7   bus     86  50.524002  50.947514
8   bus     86  50.522820  50.955576
9   bus     86  50.527595  50.955701
10  bus     86  50.530601  50.958406
11  bus     86  50.530455  50.965748
12  bus     86  50.530275  50.974591
13  bus     86  50.532046  50.980081
14  bus     86  50.530251  50.987940
15  bus     86  50.529416  50.998036
16  bus     86  50.531806  51.003014
17  bus     86  50.531796  51.007415
18  bus     86  50.531804  51.012662
19  bus     86  50.531773  51.020720
20  bus     86  50.531773  51.028121
21  bus     86  50.531755  51.037130
22  bus     86  50.532399  51.049338
23  bus     86  50.531952  51.045869
24  bus     86  50.531974  51.035474
25  bus     86  50.531987  51.026783
26  bus     86  50.531992  51.020638
27  bus     86  50.532020  51.012677
28  bus     86  50.532015  51.006078
29  bus     86  50.531382  51.000650
30  bus     86  50.528921  50.997000
31  bus     86  50.526652  50.986174
32  bus     86  50.526857  50.976090
33  bus     86  50.530426  50.973204
34  bus     86  50.530613  50.964137
35  bus     86  50.530284  50.955468
36  bus     86  50.527822  50.955292
37  bus     86  50.522529  50.953350
38  bus     86  50.524146  50.946709
39  bus     86  50.524268  50.940946
40  bus     86  50.520967  50.937768
41  bus     86  50.514002  50.936357
42  bus     86  50.509397  50.936100
43  bus     86  50.504732  50.936613
44  bus     86  50.504446  50.944250
45  bus     86  50.503913  50.958958

Empty DataFrame
Columns: [time, v_id, type, route, latitude, longitude]
Index: []

          latitude  longitude
169181   50.527862  50.955354
169199   50.504898  50.936607
169207   50.527637  50.955615
169251   50.503956  50.959354
169283   50.531860  51.002317
169340   50.530281  50.977002
169344   50.531849  51.012971
169346   50.531830  51.027339
170692   50.532974  51.049171
170702   50.533355  51.047479
170709   50.531929  51.044982
170735   50.532013  51.001844
170844   50.524021  50.938054
170847   50.524090  50.947593
170855   50.527637  50.955615
170881   50.532013  51.001844
170890   50.531292  51.015775
170892   50.531849  51.018869
170901   50.531810  51.037254
170977   50.530334  50.974153
170978   50.530334  50.974153
171048   50.506050  50.969816
171091   50.524021  50.938054
171106   50.527637  50.955615
171151   50.531357  51.017362
171209   50.532009  51.001729
171249   50.523864  50.949706
171285   50.506008  50.969894
171302   50.509166  50.936195
171316   50.524021  50.938054
...            ...        ...
1010244  50.530368  50.972654
1010249  50.532154  50.979368
1010267  50.531849  51.012904
1010269  50.531524  51.018073
1010284  50.531788  51.048894
1010287  50.533111  51.049169
1010294  50.532386  51.047496
1010297  50.531925  51.045810
1010310  50.532135  51.018417
1010311  50.532524  51.015252
1010312  50.532009  51.013391
1010337  50.530254  50.974145
1010340  50.530426  50.970233
1010345  50.530712  50.956207
1010348  50.527988  50.955364
1010351  50.526809  50.955272
1010353  50.522461  50.953416
1010359  50.524254  50.938239
1010364  50.515983  50.936597
1010365  50.514911  50.936481
1010370  50.509506  50.936210
1010374  50.504871  50.935905
1010379  50.504100  50.954744
1010384  50.503860  50.962484
1010388  50.503692  50.967574
1010390  50.505432  50.969470
1010391  50.505779  50.969726
1010393  50.505790  50.969735
1010407  50.505733  50.968229
1010408  50.504993  50.967826

[758 rows x 2 columns]

In [247]:
import folium
b=b86[['latitude','longitude']] 
ave_lat = b.latitude.mean()
ave_lon = b.longitude.mean()
map_osm = folium.Map(location=[ave_lat, ave_lon], zoom_start=11)
data.apply(lambda row:folium.CircleMarker(location=[row["Latitude"], row["Longitude"]], 
                                              radius=10)
                                             .add_to(map_osm), axis='index')

IndexError: ('Latitude', 'occurred at index time')

50.52102755804749

In [107]:
b.latitude

169181     50.527862
169199     50.504898
169207     50.527637
169251     50.503956
169283     50.531860
169340     50.530281
169344     50.531849
169346     50.531830
170692     50.532974
170702     50.533355
170709     50.531929
170735     50.532013
170844     50.524021
170847     50.524090
170855     50.527637
170881     50.532013
170890     50.531292
170892     50.531849
170901     50.531810
170977     50.530334
170978     50.530334
171048     50.506050
171091     50.524021
171106     50.527637
171151     50.531357
171209     50.532009
171249     50.523864
171285     50.506008
171302     50.509166
171316     50.524021
             ...
1010244    50.530368
1010249    50.532154
1010267    50.531849
1010269    50.531524
1010284    50.531788
1010287    50.533111
1010294    50.532386
1010297    50.531925
1010310    50.532135
1010311    50.532524
1010312    50.532009
1010337    50.530254
1010340    50.530426
1010345    50.530712
1010348    50.527988
1010351    50.526809
1010353    50.522461
1010359    50.524254
1010364    50.515983
1010365    50.514911
1010370    50.509506
1010374    50.504871
1010379    50.504100
1010384    50.503860
1010388    50.503692
1010390    50.505432
1010391    50.505779
1010393    50.505790
1010407    50.505733
1010408    50.504993
Name: latitude, Length: 758, dtype: float64